@import "tailwindcss";

@font-face {
  font-family: "Satoshi";
  src: url("/Satoshi/Satoshi-Regular.woff2") format("woff2"),
    url("/Satoshi/Satoshi-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/Satoshi/Satoshi-Medium.woff2") format("woff2"),
    url("/Satoshi/Satoshi-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/Satoshi/Satoshi-Bold.woff2") format("woff2"),
    url("/Satoshi/Satoshi-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "IntegralCF";
  src: url("/Integral/integralcf-bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@theme {
  --font-primary: "Satoshi", sans-serif;
  --font-secondry: "IntegralCF", sans-serif;
}
