@import "./../../css/variable.scss";

.search-container {
    display         : flex;
    align-items     : center;
    border          : 1px solid #ccc;
    border-radius   : 5px;
    background-color: #ccc;
    padding         : 5px;
    width           : 260px;

    input[type="text"] {
        border          : none;
        outline         : none;
        background-color: #ccc;
        font-family     : $primary-font;
        font-size       : 15px;
        width           : inherit;
    }

    .search-button {
        cursor: pointer;
    }
}